<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ma page accuiel</title>
		{% include 'header.html' %}

</head>
<body>
	
	<span class="text-uppercase tm-logo-text">
         <h1>Soyez les biens venues sur notre page d'accueil</h1><br>une application de gestion de base de données sécurisés
    </span>
</h1>

    <a href="http://www.google.com" target="blank"><h2>le site google</h2>
    </a>
    

</body>
</html>