<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="refresh" content="10; URL={{url_for('login')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> page index </title>
		{% include 'header.html' %}
</head>
<body>
	
	<p style="font-size: 40px;color:forestgreen;">APPLICATION DE GESTION DE DONNEES
    </p> 
   <div>
     <p><img src="{{ url_for('static',filename='img/camp.jpg')}}" alt="" width="600" height="200" /></p>
   </div>
    <a href="{{url_for('login')}}"><h2>Se connecter </h2></a><br><br>
    <a href="{{url_for('register')}}"><h2>S'inscrire</h2></a><br><br>                      
                      

</body>
</html>