<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>page login</title>
</head>
<body>

	<h1>
		<p style="font size:40px;color:blue;background-color:#eb81a3;width:400px;height:50px;text align:center">
                <strong>connectez-vous </strong>
        </p>
	</h1>

	<from action="" method="POST">

		<label for="email">E-mail </label>
		<input type="text" name="email"><br><br>

		<label for="password">Password </label>
		<input type="password" name="password"><br><br>

		<button>
			<input type="submit">
		</button><br><br>
		




	</from>
</body>
</html>